# Editors cache
.vscode

# Python cache
__pycache__

# Bot config
config.yaml
markov.yaml
secret.yaml
db/

# Bot data
backup/
images/

# Private user iles
src/cmd/private/**
src/plugins/private/**

# Bot cache
.bot_cache
.minibot_cache

# Bot logs
logs/
nohup.out

# Do not ignore .gitkeep
!/**/.gitkeep
