numpy==1.26.4
py-cord[voice] @ git+https://github.com/Pycord-Development/pycord@8a7ea47
requests==2.32.3
psutil==5.9.8
python_dateutil==2.9.0.post0
GitPython==3.1.43
PyYAML==6.0.2
yt-dlp==2024.4.9
python-telegram-bot==20.7
git+https://github.com/aobolensk/aiogoogletrans@master
nest-asyncio==1.6.0
python-magic==0.4.27
